html{
    background-color: rgb(234, 243, 255);
}
h1{
    background-color: rgb(207, 207, 214);;
}
p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-top: 30px;
    background-color: rgba(211, 183, 255, 0.24);
}
#AddAction{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
#RemoveAction{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
#StopAction{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
#action{
    display: list-item;
}