<!DOCTYPE html>
<html>
    <head>
        <title id = "title">createTodo</title>
        <meta charset = "UTF-08">   
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link href = "{{ url_for('static', filename = 'css/creationPlace.css') }}" rel = "stylesheet" type = "text/css">
    </head>
    <body id = "b1">
        <div><a href = "https://organic-space-fiesta-jxx565q7x6wf549j-2024.app.github.dev/index"><button><strong>&larr;</strong></button></a></div>
       
        <div class = "CreationRoom">
            <div class = "header">
                <h1>Todo Factory</h1>
            </div>
            <div class = "desciption">
                <p>Welcome to Todo factory. <br> In this place you can, using actions, make the list of necessary stuff.<br> Max limit of actions: <strong>25</strong>! <br>Use this for your purpose and good luck.</p>
            </div>
            <hr>
            <div class = "container">
                <div class = "header">
                    <h1>Name Ur Todo</h1>
                </div>
                <div class = "content">
                    <div class = "form">
                        <form id="searchform" action="" method="GET">
                          <input id="intextbox" maxlength="150" size="20" value="" name="q" type="text" placeholder="Insert your keyword here.." onchange="changename ()">                            
                        </form>
                                              
                        <button id = "saveUrName">Save the name</button>                  
                      </div>
                </div>
            </div>
            <div class = "PlusAction"> 
                <button id = "AddAction">Add</button>
                <button id = "RemoveAction">Remove</button>
                <button id = "Clear-all">ToTrash</button>
                
            </div>
                
           <div class = "SaveDownload">
                <button id = "Download">Download</button> 
           </div>
          
            
        <script src = "{{ url_for('static', filename = 'js/creationPlace.js') }}"></script>
    </body>
</html>

<!--Repository Done-->