<!DOCTYPE html>
    <html lang = en">
        <head>
            <meta charset = "UTF-8">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <title>To-Do Creator</title>
            <link href = "{{ url_for('static', filename = 'css/style.css') }}" rel = "stylesheet" type = "text/css">
            <script src = "{{ url_for('static', filename = 'js/main.js') }}"></script>
        </head>
        <body>
            <div class = "container">
                <div class = "header">
                    <h1>Welcome to ToDo Studio</h1>
                </div>
                <div class = "content">
                    <div class = "form">
                       <a href = "https://organic-space-fiesta-jxx565q7x6wf549j-2024.app.github.dev/createTodo"><button id = "NewTodo" >New Todo &plus;</button></a>
                    </div>
                </div>
            </div>
        </body>
    </html>