<!DOCTYPE html>
    <html lang = "en">
        <head>
            <meta charset = "UTF-08">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <title>nameUrTodo</title>
            <link href = "{{ url_for('static', filename = 'css/nameUrTodo.css') }}" rel = "stylesheet" type = "text/css">
            <script src = "{{ url_for('static', filename = 'js/script.js') }}"></script>
        </head>
        <body>
            <a href = "https://organic-space-fiesta-jxx565q7x6wf549j-2024.app.github.dev/index"><button><strong>&larr;</strong></button></a>
            <div class = "container">
                <div class = "header">
                    <h1>Name Ur Todo</h1>
                </div>
                <div class = "content">
                    <div class = "form">
                        <form id="searchform" action="" method="GET">
                          <input id="intextbox" maxlength="150" size="20" value="" name="q" type="text" placeholder="Insert your keyword here.." onchange="changename ()">                            
                        </form>
                                              
                        <script>
                          function changename () {
                            var name = document.getElementById ("intextbox").value;
                            document.getElementById ("intextbox").name = name;
                            document.getElementById ("title").innerHTML = name;
                          }
                        </script>
                        <a href = "https://organic-space-fiesta-jxx565q7x6wf549j-2024.app.github.dev/createTodo"><button type = "submit" id = "createTodo">Create</button></a>                      
                      </div>
                      
                </div>
            </div>
        </body>
</html>